.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
.navList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.navList li {
  margin-right: 20px;
}

.navList li a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}
.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
